@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background: #fff !important;
}

a{
  text-decoration: none;
  color: #1a1e21;
}
.section-title h2 {
  text-shadow: 1px 1px 2px #4444;
}

// Header section
header{
  nav{
    background: #fff;
    box-shadow: 0px 0px 5px #4444;
    a.navbar-brand img {
      height: 40px;
    }
    form.search-form {
      width: 300px;
      margin-right: 50px;
      position: relative;
      input {
        border-radius: 50px;
      }
      button.search-btn {
        border-radius: 50px;
        padding: 7px 30px;
        position: absolute;
        right: 0;
        top: 0;
        background: var(--bs-orange);
        border: 0;
        color: #fff;
      }
    }
    ul.action-menu .nav-item .nav-link {
      margin: 0px 20px;
      font-size: 18px;
    }
  }
}
// Slider section
section.slider {
  background: #f7f7f7f7;
  height: 566px;
  padding-top: 64px;
  .slider-text {
    h2 {
      font-size: 68px;
      font-weight: 600;
      span.lighten{
        color: var(--bs-orange);
      }
    }
    p{
      font-size: 16px;
      color: #4a4949cc;
    }
    a.btn-order-now{
      font-size: 18px;
      background: #fd7e1438;
      padding: 10px 49px;
      border-radius: 50px;
      color: #ff9944;
      font-weight: 600;
      &:hover{
        box-shadow: 2px 2px 5px rgba(255, 153, 68, 0.51);
      }
    }

  }
  .slider-image img {
    height: 400px;
    object-fit: contain;
  }

}
// category product
section.category-product{
  padding: 55px 0px;
  .card {
    background: #f7f7f7;
    overflow: hidden;
    .card-body{
      text-align: center;
      img{
        height: 150px;
        object-fit: contain;
        transition: .6s;
      }
      h4{
        font-size: 25px;
        text-shadow: 1px 1px 1px #4444;
        margin: 50px 0px;
      }
      a.view-all-btn{
        background: var(--bs-success);
        padding: 7px 30px;
        border-radius: 50px;
        color: #fff;
      }
    }
    &:hover{
      .card-body img{
        transform: scale(1.2);
      }
    }
  }
}
// Banner section
section.banner {
  padding: 20px 0px;
  .item {
    background: #ccc;
    padding: 20px;
    .text {
      width: 209px;
      h2 {
        font-size: 36px;
        line-height: 51px;
        text-shadow: 1px 1px 1px #4444;
      }
      a.order-now {
        background: #198754;
        padding: 8px 29px;
        border-radius: 50px;
        color: #fff;
      }
    }
    img {
      object-fit: cover;
      height: 200px;
    }

  }
}
// Latest product
section.latest-product {
  padding: 33px 0px;
  background: #f7f7f7f7;
  .card{
    .card-body{
      img{
        height: 160px;
        transition: .6s;
      }
      h2.product_name {
        font-size: 18px;
        padding: 15px 0px;
      }
      h2.price {
        font-size: 24px;
        padding: 10px 0px;
      }
      a.add-to-cart-btn {
        border: 1px solid #198754;
        padding: 5px 23px;
        color: #198754;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 14px;
        transition: .6s;
        &:hover{
          background: var(--bs-success);
          color: #fff;
        }
      }
    }
    &:hover{
      .card-body img{
        transform: scale(1.2);
      }
    }
  }
}
// Promo Banner
section.banner{
  h1.promo-title {
    font-size: 53px;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 321px;
    font-weight: 700;
    color: #198754;
  }
}

// footer section
ul.footer-list {
  margin: 0;
  padding: 0px 20px;
  li a{
    transition: .6s;
    &:hover{
      color: #0f5132;
      padding-left: 7px;
    }
  }
}
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}